.design {
    margin-bottom: 115px;

    &__top {
        margin-bottom: 50px;
    }

    .mixitup-control-active {
        color: #000;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin: 17px auto;
        align-items: center;
        position: relative;
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 180px;
        font-size: 20px;
        line-height: 1.2;
        margin-left: -121px;
        margin-top: 37px;
        @extend %dmsansbold-700;
        color: $black;
        position: absolute;
    }

    &__view {
        font-size: 16px;
        color: $blue;
        padding-top: 10px;
    }
}

@media (max-width: 380px) {
    .design {
        &__list {
            display: block;
        }
    }
}