.design {
    margin-bottom: 120px;

    &__item {
        color: #8b8b8b;
        transition: color 0.3s;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 50px;
        outline: transparent;

        & + & {
            margin-left: 28px;
        }
        
        &:hover {
            color: #000;
        }
    }

    .mixitup-control-active {
        color: #000;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin: 17px auto;
        align-items: center;
        position: relative;
    }

    &__content-title {
        display: flex;
        flex-direction: column;
        max-width: 180px;
        font-size: 20px;
        line-height: 1.2;
        margin-left: -121px;
        margin-top: 37px;
        @extend %dmsansbold-700;
        position: absolute;
    }

    &__view {
        font-size: 16px;
        color: $blue;
        padding-top: 10px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__box:hover &__box-icon {
        opacity: 1;
    }
}