.services {
    margin-bottom: 53px;

    &__inner {
        background-color: $pale-pink;
        display: flex;
        margin-top: -10px;
    }

    &__box {
        width: 33%;
        padding: 47px 0 38px;
        display: flex;

        & + & {
            border-left: 1px solid #e8e4df;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__title {
        font-size: 18px;
        line-height: 2.2;
        color: #414141;
        @extend %dmsansbold-700;
        position: relative;
        padding-left: 79px;

        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            width: 55px;
            height: 53px;
        }

        &--support {
            margin-top: -7px;
    
            &::after {
                background-image: url("../../images/support.png");
                top: 9px;
                left: 0;
            }
        }

        &--delivery::after {
            background-image: url("../../images/delivery.png");
            top: 11px;
            left: 0;
        }

        &--secure {
            margin-top: -10px;
    
            &::after {
                background-image: url("../../images/secure.png");
                top: 13px;
                left: 0;
            }
        }   
    }

    &__text {
        @extend %dmsansregular-400;
        max-width: 300px;
        padding-left: 78px;
    }
}

@media (max-width: 1024px) {
    .services {
        &__inner {
            display: block;
        }

        &__box {
            width: auto;
            padding-left: 50px;

            & + & {
                border: none;
            }
        }

        &__title {
            padding-left: 105px;
        }

        &__text {
            max-width: none;
            padding-right: 25px;
            padding-left: 106px;
        }
    }
}