.services {
    margin-bottom: 45px;

    &__inner {
        background-color: $pale-pink;
        display: flex;
        margin-top: -10px;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__box {
        width: calc(100% / 3);
        padding: 47px 0 38px;
        display: flex;

        & + & {
            border-left: 1px solid #e8e4df;
        }

        @media (max-width: 1024px) {
            width: auto;
            padding-left: 50px;
            border-bottom: 1px solid #e8e4df;
            
            &:last-child {
                border-bottom: none;
            }
            
            & + & {
                border-left: none;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-left: 78px;

        @media (max-width: 1024px) {
            padding-left: 0;
            padding-right: 10px;
        }
    }

    &__title {
        max-width: 260px;
        font-size: 18px;
        line-height: 2.2;
        color: #414141;
        @extend %dmsansbold-700;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            width: 55px;
            height: 53px;
            top: 9px;
            left: -74px;

            @media (max-width: 1024px) {
                left: 0;
            }
        }

        &--support {
            &::after {
                background-image: url("../../images/support.png");
            }
        }

        &--delivery::after {
            background-image: url("../../images/delivery.png");
        }

        &--secure {
            &::after {
                background-image: url("../../images/secure.png");
            }
        }  
        
        @media (max-width: 1024px) {
            padding-left: 105px;
        }
    }

    &__text {
        @extend %dmsansregular-400;
        max-width: 213px;
        max-height: 55px;
        overflow: hidden;

        @media (max-width: 1024px) {
            max-width: none;
            padding-left: 105px;
        }
    }
}