.slider-top {

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 50px;
    
        li {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        } 
    
        button {
            background-color: #fff;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            font-size: 10px;
            padding: 0;
            border: none;
            cursor: pointer;
            opacity: 0.3;
            outline: transparent;
            transition: opacity 0.4s, background-color 0.3s, color 0.3s;

            &:focus {
                background-color: rgb(214, 55, 55);
                color: #fff;
            }

            &:hover {
                opacity: 1;
            }

            &:active {
                background-color: rgb(253, 100, 100);
            }
        }
    }

    .slick-active button {
        opacity: 1;
    }

    &__img {
        max-width: 740px;
        width: 100%;
        max-height: 635px;
        margin: auto;
        margin-top: 90px;
        margin-right: 186px;
        object-fit: cover;
    }

    &__box {
        background-color: #fcd7b6;
        min-height: 820px;
        position: relative;
    }

    &__item {
        position: absolute;
        top: 0;
        right: 0;
        width: 83%;
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $dark-blue;
    }
    
    &__title {
        text-transform: uppercase;
        max-width: 444px;
        max-height: 215px;
        overflow: hidden;
        font-size: 72px;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 21px;

        @media (max-width: 380px) {
            font-size: 55px;
        }
    }

    &__text {
        max-width: 350px;
        max-height: 126px;
        overflow: hidden;
        font-size: 18px;
        margin-bottom: 30px;
        @extend %rubikregular-400;
    }
}