$default-color: #9fc4eb;

%rubikregular-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubikmedium-500{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%dmsansregular-400{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}