@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    &__inner {
        display: flex;  
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        font-size: 15px;
    }
}

.menu {
    margin-left: 156px;

    &__list {
        display: flex;
    }

    &__item + .menu__item {
        padding-left: 40px;
    }

    &__link {
        color: #436372;
        padding-bottom: 10px;
    }
}

.menu .menu__list .menu__item .menu__link,
.menu ul li a:after,
.menu ul li a:before {
    transition: all 0.5s;
    position: relative;
}

.menu ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    background-color: rgb(226, 11, 11);
    height: 1px;
}

.menu ul li a:hover:after {
    width: 100%;
}

.user-nav {
    display: flex;

    // лупа 

    &__link-loupe {
        margin-right: 22px;
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 17px;
        transition: transform 0.5s;
    }

    // кнопка

    &__item {
        display: flex;
        background-color: #fcd7b6;
        border-radius: 25px;
        position: relative;
    }

    &__item::after {
        content: "";
        position: absolute;
        border-right: 1px solid #fde7d3;
        height: 32px;
        top: 11px;
        left: 90px;
    }

    &__link-heart {
        padding: 18px 30px 10px 46px;
        fill: #243f4d;
        transition: fill 0.3s;
    }

    &__link-cart {
        padding: 18px 45px 10px 25px;
        fill: #243f4d;
        transition: fill 0.3s;
    }

    &__link-heart:hover {
        fill: rgb(192, 6, 6);
    }
    
    &__link-cart:hover {
        fill: rgb(3, 3, 240);
    }

    // цифры

    &__num {
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        top: 14px;
        width: 15px;
        height: 15px;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        color: #000;
        @extend %dmsansregular-400;
    }

    &__num--heart {
        left: 56px;
    }

    &__num--cart {
        right: 36px;
    }

    // точки

    &__link-menu {
        margin-left: 18px;
        background-color: #a3bbc8;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 15px;
        transition: transform 0.5s;
    }

    &__link-loupe:hover,
    &__link-menu:hover {
        transform: scale(1.4);
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;

    & li + li {
        margin-left: 12px;
    }

    & button {
        background-color: #fff;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        font-size: 10px;
        padding: 0;
        border: none;
        cursor: pointer;
        opacity: 0.3;
        outline: transparent;
        transition: opacity 0.4s;
    }

    & button:hover,
    & .slick-active button {
        opacity: 1;
    }
}

.slider {

    &__box {
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 820px;
        outline: transparent;
    }

    &__item {
        position: absolute;
        width: 83%;
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 0;
        color: #243f4d;
    }
    
    &__title {
        text-transform: uppercase;
        max-width: 444px;
        font-size: 72px;
        line-height: 1;
        padding-bottom: 21px;
    }

    & p {
        max-width: 350px;
        font-size: 18px;
        padding-bottom: 30px;
        @extend %rubikregular-400;
    }

    &__bottom {
        background-color: #fef7f0;
        display: flex;
        justify-content: space-between;
        height: 172px;
        margin-top: -10px;
        position: relative;
    }

    &__bottom--support {
        padding-left: 215px;
        padding-top: 45px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__bottom--support::after {
        content: "";
        position: absolute;
        border-right: 1px solid #e8e4df;
        height: 100%;
        right: -154px;
        top: 0;
    }

    &__bottom--support::before {
        content: "";
        background-image: url("../images/support.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 54px;
        left: 140px;
    }

    &__bottom--delivery {
        position: relative;
        padding: 49px 0 0 80px;
    }

    &__bottom--delivery::before {
        content: "";
        background-image: url("../images/delivery.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 60px;
        height: 60px;
        left: 4px;
        top: 58px;
    }

    &__bottom--secure {
        padding-left: 93px;
        padding-top: 40px;
        padding: 40px 153px 0 93px;
        position: relative;
    }

    &__bottom--secure::after {
        content: "";
        position: absolute;
        border-left: 1px solid #e8e4df;
        height: 100%;
        left: -150px;
        top: 0;
    }
    
    &__bottom--secure::before {
        content: "";
        background-image: url("../images/pev.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 53px;
        left: 0;
    }

    &__bottom-title {
        font-size: 18px;
        line-height: 2.2;
        color: #414141;
        @extend %dmsansbold-700;
    }

    &__bottom-item p {
        font-size: 16px;
        display: block;
        color: #585858;
        @extend %dmsansregular-400;
    }

    &__bottom-item span {
        display: block;
    }

    &__button {
        @extend %btn;
    }
}

.footer {
    @extend %rubikregular-400;
}

.footer-top {
    padding: 71px 0;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    font-size: 14px;
    line-height: 1.7;
    color: #1f2044;

    & a {
        color: #7b7b7b;
    }

    & a:hover {
        color: #000;
    }

    &__logo {
        margin-bottom: 28px;
        display: block;
    }

    &__address,
    &__tel,
    &__mail {
        margin-bottom: 15px;
        display: block;
    }

    &__title {
        margin-bottom: 35px;
        padding-top: 27px;
        font-size: 16px;
        line-height: 1.3125px;
        @extend %dmsansbold-700;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 39px;
    }

    &__text p {
        color: #7b7b7b;
    }

    &__form {
        display: flex;
    }

    &__input {
        border: none;
        outline: transparent;
        background-color: #fef7f0;
        padding: 8px;
    }

    &__input::placeholder { 
        color: #234969;
    }

    &__item {
        margin-bottom: 10px;
    }
        
    &__box {
        &--contact {
            max-width: 215px;
            margin-right: 99px;
        }

        &--services {
            width: 217px;
            margin-right: 150px;
        }

        &--account {
            width: 145px;
            margin-right: 200px;
        }
    }

    &__button {
        @extend %btn-2;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 27px 0 39px;
    font-size: 14px;
    color: #7b7b7b;

    &__list {
        display: flex;
        position: relative;
    }

    &__item + &__item {
        padding-left: 31px;
    }

    &__item::after {
        content: "|";
        position: absolute;
        padding-left: 13px;
    }

    &__item:last-child::after {
        content: "";
    }

    &__link {
        color: #7b7b7b;
    }

    &__link:hover {
        color: #000;
    }
}

.product {
    &__top {
        margin-top: 53px;
        text-align: center;
    }

    &__title {
        font-size: 36px;
        line-height: 2.305;
        @extend %dmsansbold-700;
    }
    
    &__list {
        display: flex;
        justify-content: center;
    }

    .mixitup-control-active {
        color: #000;
    }

    &__item {
        color: #8b8b8b;
        transition: color 0.3s;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 50px;
        outline: transparent;
    }

    &__item + &__item {
        margin-left: 28px;
    }

    &__item:hover {
        color: #000;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin: 19px auto;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        align-items: center;
    }

    &__box:nth-child(1) {
        padding: 30px 35px 35px;
    }

    &__box:nth-child(2) {
        padding: 37px 60px 35px;
    }

    &__box:nth-child(3) {
        padding: 60px 30px 35px;
    }

    &__box:nth-child(4) {
        padding: 80px 20px 35px;
    }

    &__box:nth-child(5) {
        padding: 50px 15px 35px;
    }

    &__box:nth-child(6) {
        padding: 40px 22px 35px;
    }

    &__box:nth-child(7) {
        padding: 50px 20px 35px;
    }

    &__box:nth-child(8) {
        padding: 50px 15px 35px;
    }

    &__content-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 75px 0 0;
        margin-top: auto;
        @extend %dmsansmedium-500;
        color: #243f4d;
    }

    &__price {
        color: #a3bbc8;
    }

    &__box-icon {
        position: absolute;
        display: flex;
        top: 191px;
        opacity: 0;
        transition: opacity 0.7s;
    }

    &__box:hover &__box-icon {
        opacity: 1;
    }

    &__loupe {
        border-radius: 50%;
        width: 45px;
        height: 43px;
        background-repeat: no-repeat;
        background-color: #fefefe;
        padding: 11px;
        box-shadow: 0px 0px 0px 5px rgba(37, 37, 37, 0.05);
        transition: background-color 0.5s;
        fill: #a3bbc8;
    }

    &__cart {
        border-radius: 50%;
        width: 45px;
        height: 43px;
        padding: 11px;
        background-repeat: no-repeat;
        background-color: #a3bbc8;
        margin: 0 15px;
        box-shadow: 0px 0px 0px 5px rgba(37, 37, 37, 0.05);
    }

    &__heart {
        border-radius: 50%;
        width: 45px;
        height: 43px;
        background-repeat: no-repeat;
        background-color: #fefefe;
        padding: 11px;
        box-shadow: 0px 0px 0px 5px rgba(37, 37, 37, 0.05);
        transition: background-color 0.3s;
        fill: #a3bbc8;
    }

    &__loupe:hover,
    &__heart:hover {
        background-color: #a3bbc8;
        fill: #fff;
    }
    
}



@import 'media';