.catalog {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        margin-bottom: 32px;

        @media (max-width: 733px) {
            display: block;
        }
    }

    &__filter {
        @media (max-width: 1024px) {
            max-width: 280px;
        }
    }
}