.numbers {
    display: flex;
    justify-content: center;

    &__item {
        margin-right: 13px;
        border: 1px solid $blue;

        &:last-child {
            margin-right: 0;
        }

        &--active {
            background-color: $blue;
            color: #fff;
            padding: 13px 22px;
        }
    }

    &__link {
        display: flex;
        padding: 13px 22px;
        color: $dark-blue;
        transition: background-color 0.3s;
        outline: transparent;

        &:focus {
            background-color: $focus;
        }

        &:hover {
            background-color: $blue;
            color: #fff;
        }
    
        &:active {
            background-color: $active; 
        }
    }

    &--blog {
        justify-content: left;
    }
}