.footer {
    @extend %rubikregular-400;

    &__inner {
        padding-bottom: 62px;
        border-bottom: 1px solid #dae4e9;
        display: flex;
        font-size: 14px;
        line-height: 1.7;
        color: #1f2044;
    }

    &__box {
        max-width: 300px;
        width: 100%;

        &:last-child {
            max-width: 270px;
        }
    }

    &__link {
        color: $grey;
        margin-right: 61px;
        padding-bottom: 10px;
        font-style: normal;
        display: block;

        @extend %effect;
    }

    &__logo {
        margin-bottom: 28px;
        display: block;
    }

    &__title {
        margin-bottom: 19px;
        margin-top: 17px;
        font-size: 16px;
        line-height: 1.3;
        @extend %dmsansbold-700;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 37px;
        padding-right: 11px;
        color: $grey;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 27px 0 39px;
        font-size: 14px;
        color: $grey;
    }
    
    &__bottom-list {
        display: flex;
    }

    &__bottom-item {
        &::after {
            content: "|";
            padding: 0 10px;
        }
    
        &:last-child::after {
            content: "";
            padding-right: 0;
        }
    }

    &__bottom-link {
        color: $grey;

        @extend %effect;
    }

}

@media (max-width: 768px) {
    .footer {
        &__inner {
            display: block;
        }

        &__box {
            margin-bottom: 45px;
            width: auto;
        }

        &__link {
            padding-right: 0;
        }

        &__bottom {
            display: block;
        }

        &__bottom p {
            padding-bottom: 10px;
        }
    }
}