.global-btn {
    display: flex;
    padding: 17px 105px 17px 25px;
    max-width: max-content;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    outline: transparent;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s;

    svg {
        position: absolute;
        top: 26px;
        right: 20px;
        fill: #fff;
        transition: fill 0.5s;
    }

    &:focus {
        background-color: $focus;

        svg {
            fill: $active;
        }
    }

    &:hover {
        color: $btn-blue;

        svg {
            fill: $btn-blue;
        }

        &::after {
            left: 0;
            right: 0;
            transform: skewX(-45deg) scale(1, 1);
        }
    }

    &:active {
        color: $active;
        background-color: $active;

        svg {
            fill: $active;
        }
    }
     
    &::after {
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        content: "";
        background-color: #ecf0f1;
        position: absolute;
        z-index: -1;
        display: block;
        transition: all 0.35s;
    }

    &--transparent {
        background-color: transparent;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        color: $pale-blue;
        padding-right: 80px;

        &:hover {
            background-color: #1f2044;
        }

        svg {
            fill: $pale-blue;
        }
    }

    &--small {
        border: none;
        padding: 8px 18px;
        cursor: pointer;
        transition: box-shadow 0.3s, background-color 0.3s;

        &:hover {
            box-shadow: 0 0 30px rgba(30,163,235,0.5);  
        }
    }

    &--min-small {
        padding: 8px 25px;
        fill: #285886;
        border-radius: 0 5px 5px 0;

        svg {
            top: 14px;
            right: 18px;
        }
    }

    &--another-arrow {
        padding: 12px 50px 12px 25px;
        border-radius: 5px;
        @extend %poppins-600;

        & svg {
            top: 20px;
        }
    }

    &--big {
        padding: 12px 58px;
        text-transform: uppercase;
        border-radius: 5px;
    }

    &--leave {
        padding: 13px 42px 13px 35px;
        text-transform: uppercase;
    }

    &--contact {
        padding: 13px 42px 13px 35px;
        text-transform: uppercase;
        border-radius: 10px;
    }

    &--details {
        padding: 13px 60px 13px 58px;
        text-transform: uppercase;
        border-radius: 5px;
    }

    &--login {
        padding: 15px 216px;
        margin-bottom: 28px;
        color: #fff;
        background-color: #a3bbc8;

        @media (max-width: 540px) {
            margin: auto;
            padding: 15px 107px;
        }
    }

    &--login-trasparent {
        padding: 15px 169px;
        color: $dark-blue;
        background-color: transparent;
        border: 1px solid #a3bbc8;

        &:hover {
            background-color: #a3bbc8;
        }

        @media (max-width: 540px) {
            margin: auto;
            padding: 15px 62px;
        }
    }
}