.header-bottom {
    background-color: #edf1f4;
    color: #222933;
    padding: 26px 0 28px;
    text-align: center;
    margin-bottom: 120px;
    font-size: 14px;
    font-weight: 400;

    &__title {
        font-size: 36px;
        line-height: 1.4;
        font-weight: 300;
    }
}

.header-list {
    display: flex;
    justify-content: center;

    &__link {
        color: #222933;
        @extend %effect;
    }

    &__text {
        &::before {
            content: "/";
            padding: 0 7px;
        }
    }
}