.partners {
    padding: 255px 0 88px;
    margin-top: -172px;
    margin-bottom: 81px;
    background-color: $pale-pink;

    &__item {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin: 0 50px;
        max-width: 150px;
        height: 85px;
    }

    @media (max-width: 1024px) {
        padding-top: 100px;
        margin-top: 0;
    }

    &--small {
        padding-top: 65px;
        margin-top: 0;
    }
}