.partners {
    padding: 255px 0 88px;
    margin-bottom: 81px;
    background-color: $pale-pink;

    &__item {
        display: flex;
        align-items: center;
    }

    &__link-logo {
        margin: 0 50px;
    }
}

@media (max-width: 1024px) {
    .partners {
        padding: 50px 0;

        &__item {
            display: block;
        }

        &__link-logo {
            display: flex;
            justify-content: center;
            margin: 50px 0;
        }
    }
}