.product {
    margin-bottom: 76px;

    &__top {
        margin-bottom: 60px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    .mixitup-control-active {
        color: #000;
    }
}

.product-content {
    &__box {
        display: flex;
        flex-direction: column;
        margin: 19px auto;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        align-items: center;
        max-width: 270px;
        width: 100%;
        height: 382px;
        padding-bottom: 23px;

        &:hover {
            .product-content__item {
                opacity: 1;
            }
        } 
    }

    &__item {
        position: absolute;
        display: flex;
        top: 191px;
        opacity: 0;
        transition: opacity 0.7s;
    }

    &__icon {
        border-radius: 50%;
        width: 45px;
        height: 43px;
        background-repeat: no-repeat;
        background-color: #fefefe;
        cursor: pointer;
        outline: transparent;
        border: none;
        fill: $blue;
        transition: background-color 0.3s;
        box-shadow: 0px 0px 0px 5px rgba(37, 37, 37, 0.05);
        padding: 11px;
        margin-right: 15px;

        svg {
            transition: fill 0.3s;
        }

        &:last-child {
            margin-right: 0;
        }

        &--cart {
            background-color: $blue;
            fill: #fff;
        }

        &:focus {
            background-color: $btn-blue;
            fill: #fff;
        }

        &:hover {
            background-color: $blue;
            fill: #fff;
        }
    
        &:active {
            background-color: $active;
            fill: #fff;
        }
    }

    &__img {
        position: absolute;
        bottom: 160px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        font-size: 16px;
        @extend %dmsansmedium-500;
        color: $dark-blue;
    }

    &__price {
        color: $blue;
        font-size: 16px;
        @extend %dmsansbold-700;
    }
}