.conditions {
    color: $dark-blue;

    ol.conditions__list {
        margin-bottom: 53px;
        margin-left: 33px;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 24px;
        font-weight: 400;
        list-style-type: decimal-leading-zero;
    }

    &__box {
        margin-bottom: 50px;
    }
}