.product-description {
    margin-bottom: 120px;
    
    &__box {
        display: flex;
        justify-content: center;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__btn {
        padding: 13px 70px 13px;
        margin-right: 10px;
        font-size: 18px;
        background-color: #edf1f4;
        color: $dark-blue;
        border-radius: 5px;

        &:last-child {
            margin-right: 0;
        }

        &:nth-child(2) {
            padding: 13px 30px 13px 30px;
        }

        &:hover {
            background-color: #a3bbc8;
        }

        span {
            padding-left: 5px;
        }

        @media (max-width: 1024px) {
            margin-bottom: 25px;
            padding: 13px;
            display: flex;
            justify-content: center;
            max-width: 100%;
            width: 100%;
        }
    }

    &__text {
        margin-top: 25px;
        font-weight: 400;
    }
}