.about-services {
    background-color: $dark-pink;
    min-height: 320px;
    @extend %dmsansbold-700;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    &__inner {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        font-size: 36px;
        color: $dark-blue;
        margin-left: -45px;

        @media (max-width: 1200px) {
            margin-left: 0px;
            padding-top: 15px;
            justify-content: center;
        }
    }

    &__box {
        margin-right: 130px;

        &:last-child {
            margin-right: 0;

            @media (max-width: 1200px) {
                margin-right: 40px;
            }
        }

        @media (max-width: 1200px) {
            margin-bottom: 25px;
            margin-right: 40px;
        }
    }

    &__title {
        position: relative;
        padding-top: 75px;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            top: 13px;
            width: 83px;
            height: 67px;
        }

        &--satisfied::before {
            content: "";
            background-image: url("../../images/about-services-1.png");
        }

        &--delivered::before {
            content: "";
            background-image: url("../../images/about-services-2.png");
            top: 19px;
            left: 46px;
        }

        &--time::before {
            content: "";
            background-image: url("../../images/about-services-3.png");
            left: 46px;
        }

        &--store::before {
            content: "";
            background-image: url("../../images/about-services-4.png");
            left: 35px;
        }
    }

    &__text {
        display: block;
        font-size: 18px;
    }
}